/* Reset et styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #444444;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container label {
    flex: 0 0 23%;
    text-align: right;
    margin-right: 2%;
}

.filter-container input[type="text"],
.filter-container input[type="range"],
.filter-container select {
    flex: 0 0 72%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-container button {
    flex: 0 0 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.filter-container button:hover {
    background-color: #444444;
}

.camps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.camp-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33.33% - 40px);
    text-align: center;
}

.camp-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.camp-card h3,
.camp-card p {
    margin: 10px 0;
}

.camp-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.camp-card a:hover {
    background-color: #444444;
}
