body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Pleine hauteur de la fenêtre */
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

button, .inscription-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover, .inscription-button:hover {
    background-color: #444444;
}

.camp-details-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.camp-details-container p {
    display: block;
    margin: 10px 0;
}

.camp-details-container .inscription-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.camp-details-container .inscription-button:hover {
    background-color: #444444;
}

.retour-button {
    display: block;
    margin-top: 20px; /* Ajout d'une marge au-dessus du bouton Retour */
}
